option_settings: 
  "aws:elasticbeanstalk:application:environment": 
    DJANGO_SETTINGS_MODULE: "summer_hill_estates_project.settings" 
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python": 
    WSGIPath: summer_hill_estates_project.wsgi:application 
    NumProcesses: 3 
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    /static: static

